* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Montserrat", Arial, sans-serif;
    font-size: 16px;
    color: #032e4e;
}

.container {
    max-width: 980px;
    margin: 0 auto;
}

.nav-list {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(248 248 255);
}

.nav-list {
    list-style: none;
    margin: 0;
}

.nav-link {
    padding: 0 20px;
    line-height: 50px;
}

.container.split {
    display: flex;
}

.left-block {
    width: 340px;
}

.right-block {
    margin-left: 15px;
    width: calc(100% - 340px );
    border-right: 1px solid #f8f8ff;
}

.my-photo {
    width: 100%;
    display: block;
}

.profile-photo {
    margin: 0;
}

.content-wrapper {
    padding: 40px;
}
.contacts {
    background-color: rgb(79, 197, 223);
}

.skills {
    background-color: rgb(150, 215, 233);
}

.languages {
    background-color: rgb(204, 234, 242);
}
h1.title {
    font-size: 72px;
    font-weight: 800;
    margin-bottom: 10px;
}

.position {
    background-color: rgb(150, 215, 233);
    padding: 15px;
    display: inline-block;
    font-size: 21px;
    font-weight: 600;
}

.footer {
    background-color: rgb(248 248 255);
    padding: 20px;
}

.github-logo {
    position: relative;
    padding-left: 40px;
}
.github-logo::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0px;
    top: -5px;
    width: 30px;
    height: 30px;
    background-image: url(assets/img/github-logo.svg);
    background-repeat: no-repeat;
    background-position: 0 0;
}

.rs-logo {
    width: 112px;
}

.footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.divider {
    position: relative;
}

.divider::before {
    content: "";
    position: absolute;
    top: 32px;
    left: 0;
    width: 60px;
    height: 0px;
    border: 1px solid #032e4e;
}

.list {
    margin-left: 0;
    padding-left: 15px;
}

.list-contact {
    margin-left: 0;
    padding-left: 0;
    line-height: 28px;
}

.list-contact span {
    font-weight: 600;
}

.list-contact a {
    text-decoration: none;
    color: #032e4e;
    transition: all 0.3s ease-in-out;
}

.list-contact a:hover {
    padding-left: 3px;
    font-weight: 600;
}

.list-item-contact {
    list-style: none;
}

.divider-graf {
    width: 87%;
    height: 3px;
    background-color: rgb(3, 46, 78);
    margin: 0 auto;
}

.divider-graf {
    position: relative;
}

.divider-graf::before {
    content: "";
    position: absolute;
    top: -4px;
    left: 0;
    width: 8px;
    height: 11px;
    background-color: rgb(3, 46, 78);
}

.divider-graf::after {
    content: "";
    position: absolute;
    top: -4px;
    right: 0;
    width: 8px;
    height: 11px;
    background-color: rgb(3, 46, 78);
}
.scroll-code {
    overflow: auto;
    word-wrap: normal;
    white-space: pre;
}





















